quickmt.egg-info/
quickmt/__pycache__
quickmt/scripts/__pycache__
.ipynb_checkpoints/
quickmt/scripts/.ipynb_checkpoints/
quickmt-zh-en
.vscode
build
.sesskey
docs/training-*
.python-version
uv.lock
docs/notebooks/.ipynb_checkpoints/
docs/notebooks/Testing.ipynb
docs/notebooks/opusmt*
docs/notebooks/m2m*
docs/notebooks/nllb*
docs/notebooks/mt*
docs/notebooks/quickmt.*
docs/notebooks/lt*
docs/notebooks/flores*
docs/blogs/mt*
docs/blogs/lt*
docs/blogs/flores*
tests/__pycache__
__pycache__
